*{
    
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
header{
    width:1170px;
    height:55px;
    margin-top:50px;
    margin:50px auto;
}
.uheader{
    width: 80%;
    min-width:600px;
    height:60px;
    display:flex;
    margin:auto auto;
}
header .part1{
    width:50%;
    height: 50px;
    background-image:url('Images/Group\ 40071\ \(2\).png');
    background-repeat: no-repeat;
    margin:auto auto;
}
.hero{
    color: rgb(19, 19, 24);
    font-size: 36px;
    font-weight: 800;
    padding-left: 70px;
}
.hero span{
    color: rgb(255, 84, 0);
    font-size: 36px;
    font-weight: 800;
}
header .part2{
    width:50%;
    height: 50px;
}
header ul {
    display:flex;
    list-style:none;
    gap:44px;
}
header ul li {
    color:rgb(66, 66, 71);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.home{
    color: rgb(255, 84, 0);
}
/* complete the header part */
.intro{
    width: 1170px;
    height: 500px;
    margin:50px auto;
    background-image: url('Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
    background-repeat:no-repeat;
}
.introlng{
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
.uintro{
    width:800px;
    height: 288px;
    padding:106px 185px;
}
.intro .part1{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 800;
    text-align:center;
}
.intro .part2{
    margin-top:24px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.uintro .part3 {
    margin-top:48px;
    width:800px;
    height: 84px;
    height:70px;
    display: flex;
    justify-content: space-around;
    background-color:rgba(255, 255, 255, 0.296);
    border-radius: 10px;
}
.part31{
    width:159px;
    height: 48px;
    background-color:white;
    border-radius: 5px;
    align-items:center;
    margin-top:11px;
    text-align: center;
    display:flex;  
    justify-content:space-around;  
    
}
input {
    width:120px;
    border: 0px ;
}
select{
    border:0px;
    color:gray;
}
.part32{
    width:159px;
    height: 48px;
    background-color:white;
    border-radius: 5px;
    margin-top:11px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: space-around;
    
}
.part33{
    width:159px;
    height: 48px;
    background-color:white;
    border-radius: 5px;
    margin-top:11px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: space-around;
   
}
.part34{
    width:159px;
    height: 48px;
    background-color:white;
    border-radius: 5px;
    margin-top:11px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: space-around;
   
}
button{
    border-radius: 8px;
    border:0px;
/*    padding:16px 34px 16px 67px; */
    background-color: #FF5400;
    width:159px;
    height: 48px;
    margin-top:16px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/*Information part start*/
/*information section started*/
.info{
    width:1170px;
    height: 540px;
    margin:50px auto;
    border-radius:0px;
    display:flex;
    justify-content:space-between;
}
.info .part1 {
    width:577px;
    height: 466px;
}
.infotitle{
    width:555px;
    height:50px;
    color: #131318;
    text-align: center;  
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.info .part2{
    width:540px;
    height:540px;
    background-image: url('Images/Rectangle\ 4.png');
}
.info ul{
    margin-left:0px;
}
.info p{
    margin-left: 0px;
}
.info p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
/* Information section end */
.exten{
    width: 643px;
    height: 126px;
    margin:50px auto;
    text-align:center;
}
.exten h3{
    text-align:center;
    width:555px;
    height:50px;
    color: #131318;
    text-align: center;  
    font-size: 40px;
    font-weight: 800;
    padding:0px 44px;
    margin-bottom:24px;
}
.exten p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
/*Extension part complete*/
.place{
    width:1170px;
    height:934px;
    margin:50px auto;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 800;
}
.place1{
    width:100%;
    height: 300px;
    display:flex;
    justify-content:space-between;
}
.place11{
    width:573px;
    height:300px;
    background-image: url('Images/Rectangle\ 5.png');

}
.place111{
    width:106px;
    height:35px;
    margin:133px 234px;
}
.place12{
    width:573px;
    height:300px;
    background-image:url(Images/Rectangle\ 8.png)
}
.place121{
    width:133px;
    height:35px;
    margin:133px 220px;
}
.place2{
    width:100%;
    height: 286px;
    display:flex;
    justify-content:space-between;
}
.place21{
    width:374px;
    height: 286px;
    background-image:url('Images/Rectangle\ 6.png');
}
.place211{
    width:144px;
    height:35px;
    margin:125px 130px;
}

.place22{
    width:474px;
    height:286px;
    background-image:url('Images/Rectangle\ 7.png');
}
.place221{
    width:200px;
    height:35px;
    margin:125px 137px;
}

.place23{
    width:274px;
    height:286px;
    background-image:url('Images/Rectangle\ 9.png');
}
.place231{
    width:113px;
    height:35px;
    margin:125px 80px;
}
.place3{
    width:100%;
    height: 300px;
    display:flex;
    justify-content:space-between;
}
.place311{
    width:162px;
    height:35px;
    margin:133px 156px;
}
.place31{
    width:473px;
    height:300px;
    background-image:url('Images/Rectangle\ 11.png');

}
.place32{
    width:673px;
    height:300px;
    background-image:url('Images/Rectangle\ 10.png');
}
.place321{
    width:154px;
    height:35px;
    margin:132px 260px;
}
/*Completely given the every image*/
.exten2{
    width:643px;
    height:126px;
    margin:50px auto;
    text-align:center;
}
.exten21{
    width:307px;
    height:50px;
    padding:0px 168px;
    color: #131318;
    text-align: center;  
    font-size: 40px;
    font-weight: 800;
    margin-bottom:24px;

}
.exten22{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
/* Start the explore section */
.explore{
    width:1170px;
    height:592px;
    margin:50px auto;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.explore1{
    display:flex;
    justify-content:space-between;
    width:1170px;
    height:284px;
}
.explore11{
    width:573px;
    height:284px;
}
.explore12{
    width:573px;
    height:284px;
}
.eximage{
    width:64px;
    height:64px;
    padding-top:32px;
    margin-left:32px;
    display:block;

}
.exploretitle{
    width:221px;
    height:30px;
    margin-top:32px;
    margin-left:32px;
    color: #131318;
    text-align: center;
    font-size: 24px;
    font-weight: 800;

}
.explore p {
    width:486px;
    height:78px;
    margin-top:16px;
    margin-left:32px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 

}
.explore2{
    width:1170px;
    height:284px;
}
.explore2 .explore12 {
    margin-left:266px;
}
/* Explore part end */
/*  Start the Subscribe section */
.sub{
    width:1170px;
    height:422px;
    display:flex;
    justify-content:space-between;
    margin:50px auto 100px auto;

}
.sub1{
    width:474px;
    height:422px;
    padding-top:40px;
}
.sub11{
    width:126px;
    height:30px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-left:40px;

}
.sub12{
    width:350px;
    height:52px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top:16px;
    padding-left:40px;
    padding-bottom: 24px;

}
.sub13{
    width:393px;
    height:52px;
    margin-top:24px;
    margin-left: 40px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
.sub14{
    
    width:393px;
    height:52px;
    margin-top:16px;
    margin-left: 40px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
.subbt{
    
    width:393px;
    height:52px;
    margin-top:16px;
    margin-left: 40px;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}
.hr{
    width:392px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}
.sub2{
    width:672px;
    height:422px;
    background-image:url('Images/Rectangle\ 8\ \(1\).png')
}
.sub21{
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    margin-top: 256px;
    margin-left: 343px;
}

h4{ 
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
}
.sub211{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}
/* End of Subscribe section*/
/*start the footer section */
footer{
    width:1440px;
    height:502px;
    background: rgba(19, 19, 24, 0.05);
    margin:0px auto;
}
.ftpr{
    width:40px;
    height: 1px;
}
.footer1{
    margin-top: 100px;
    width:232px;
    height:55px;
    margin-left:auto;
    margin-right:auto;
    background-image:url('Images/Group\ 40071\ \(2\).png');
    background-repeat:no-repeat;
    color: #FF5400;
    font-size: 32px;
    font-weight: 800;
    padding-left:75px;

}
footer span{
    color:rgb(19, 19, 24);
}
.footer2{
    margin:16px;
    width:759px;
    height:52px;
    position:relative;
    padding:0px 339px;
    color: #5A5A5D;
    text-align: center; 
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.footer3{
    width:175px;
    height: 24px;
    margin: 32px auto;
    display:flex;
    justify-content:space-around;
}
footer img{
    width:24px; 
    height:24px;
}
hr{
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10); 
}
.footer4{
    width:191px;
    height:19px;
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    margin:30px auto;

}
.extra{
    width:1170px;
    height: 600px;
    margin:50px auto;
    border-radius:15px;
    gap:20px;
    overflow: scroll;
    border:5px solid green;

}
.extrainfo{
    width:1170px;
    height:60px;
    color: #FF5400;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.extrat{
    color: #1a1818;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.extrap{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    overflow:scroll;
}
 .extra1{
    width:1170px;
    height:200px;
    line-height: 26px;
    background-color:rgba(231, 232, 185, 0.571);
    overflow:scroll;
    overflow-x:hidden;
    margin-top:25px;
    border:2px solid rgba(228, 228, 112, 0.627);
    
    
 }
 .extra2{
    width:1170px;
    height:200px;
    background-color:rgba(231, 232, 185, 0.571);
    overflow:scroll;
    overflow-x:hidden;
    margin-top:10px;
    margin-top:25px;
    border:2px solid rgba(228, 228, 112, 0.627);
    
    
 }
 .extra3{
    width:1170px;
    height:200px;
    background-color:rgba(231, 232, 185, 0.571);
    overflow:scroll;
    overflow-x:hidden;
    margin-top:10px;
    margin-top:25px;
    border:2px solid rgba(228, 228, 112, 0.627);
    

 }
 .extra4{
    width:1170px;
    height:200px;
    background-color:rgba(231, 232, 185, 0.571);
    overflow:scroll;
    overflow-x:hidden;
    margin-top:10px;
    margin-top:25px;
    border:2px solid rgba(228, 228, 112, 0.627);
    

 }
 .extra5{
    width:1170px;
    height:200px;
    background-color:rgba(231, 232, 185, 0.571);
    overflow:scroll;
    overflow-x:hidden;
    margin-top:10px;
    margin-top:25px;
    border:2px solid rgba(228, 228, 112, 0.627);
    

 }
 .extra6{
    width:1170px;
    height:200px;
    background-color:rgba(231, 232, 185, 0.571);
    overflow:scroll;
    overflow-x:hidden;
    margin-top:10px;
    margin-top:25px;
    border:2px solid rgba(228, 228, 112, 0.627);
    

 }
 .extra7{
    width:1170px;
    height:200px;
    background-color:rgba(231, 232, 185, 0.571);
    overflow:scroll;
    overflow-x:hidden;
    margin-top:10px;
    margin-top:25px;
    border:2px solid rgba(228, 228, 112, 0.627);
    

 }
 
/* footer section end*/
@media screen and (max-width:600px){
    .uintro{
        display:flex;
        flex-direction:column;
    }
    .part3{
        flex-direction:column;
    }
    .uheader{
        flex-direction:column;
    }  
    header ul{
        flex-direction:column;
    }
}